li.choice {
  list-style: none;
  padding: 1px 3px 1px 3px;
  margin: 3px 3px 3px 0;
  border: 1px solid;
  border-radius: 3px;
  cursor: default;
  background-color: #ECEFF1;

  a.deselect {
    opacity: 0.4;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}
